### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
total_schools = len(school_data_complete["school_name"].unique())
total_students = school_data_complete["student_name"].count()
total_budget = sum(school_data_complete["budget"].unique())
average_reading = (school_data_complete.reading_score.mean())
average_math = student_data['math_score'].mean()
#passing_math = (passing_df.math_score.mean())
# total_schools = school_data_complete["school_name"].count()
print(total_schools)

15

In [3]:
passing_df = school_data_complete.loc[(
    school_data_complete["reading_score"] > 70) & (
    school_data_complete["math_score"] > 70)]

math_pass = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
count_pass_math = math_pass["math_score"].count()
print(count_pass_math)
per_math_pass = (count_pass_math/total_students)*100

read_pass = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
count_pass_read = read_pass["reading_score"].count()
per_read_pass = (count_pass_read/total_students)*100
overall_pass = (per_math_pass + per_read_pass)/2
math_pass.head()

29370

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [4]:
Summary = {'School Name':total_schools,'Total Students':total_students,'Total School Budget':total_budget,'Average Math Score':average_math,'Average Reading Score':average_reading,'Passing Math':per_math_pass,'Passing Reading':per_read_pass, 'Overall Passing':overall_pass}

Summary_df = pd.DataFrame([Summary])          

Summary_df = Summary_df[["School Name",
                   "Total Students","Total School Budget","Average Math Score", "Average Reading Score",
                   "Passing Math", "Passing Reading", 'Overall Passing' ]]

Summary_df

,School Name,Total Students,Total School Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name 
  * School Type 
  * Total Students 
  * Total School Budget 
  * Per Student Budget 
  * Average Math Score 
  * Average Reading Score 
  * % Passing Math 
  * % Passing Reading 
  * % Overall Passing (The percentage of students that passed math **and** reading.) 
  
* Create a dataframe to hold the above results

In [5]:
#Budget per School
school_summary = school_data_complete
school_summary['Per Student Budget'] = school_summary['budget']/school_summary['size']
school_summary.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Per Student Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0

In [7]:
#Type of school
type_of_school = school_summary.set_index(["school_name"])["type"]
type_of_school

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [8]:
#total students per school
students_school = school_summary["school_name"].value_counts()
students_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [17]:
#Total School Budget
total_budget=school_summary.groupby(["school_name"])["budget"].mean()
total_budget.head()

school_name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: budget, dtype: float64

In [18]:
#Per Student Budget
per_student_budget=total_budget/students_school
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [9]:
#Average math scores
average_scores_math = (school_summary.groupby(['school_name']).mean()['math_score'])
average_scores_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
#Average reading scores
average_scores_reading = (school_summary.groupby(['school_name']).mean()['reading_score'])
average_scores_reading.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [11]:
#Passing math scores
passing_math = (school_summary.groupby(['school_name']).mean()['math_score'])
passing_math
#Passing reading scores
passing_reading = (school_summary.groupby(['school_name']).mean()['reading_score'])
passing_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [12]:
#find the students passing reading and math
passing_reading_per_school= read_pass.groupby(["school_name"]).count()["student_name"]
passing_reading_per_school
percentage_passing_reading =((passing_reading_per_school/students_school)*100)
percentage_passing_reading

passing_math_per_school= math_pass.groupby(["school_name"]).count()["student_name"]
passing_math_per_school
percentage_passing_math = ((passing_math_per_school/students_school)*100)
percentage_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [13]:
#overall passing rate per school
school_passing_rate = (percentage_passing_math + percentage_passing_reading)/2
school_passing_rate

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [33]:
x = students_school
x.index.is_unique
x.index.duplicated()
# x.loc[~x.index.duplicated(), :]
x.drop_duplicates()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [46]:
percentage_passing_reading.index.is_unique

True

In [47]:
#creating a summary of the school data
Pla_df = pd.DataFrame({"Type of School":type_of_school,
                                 "Number of Students":students_school,
                              "Amount of Budget":total_budget,
                                   "Budget allocated per student":per_student_budget,
                                 "Average Math Score Schoolwise":average_scores_math,
                                 "Average Reading Score Schoolwise":average_scores_reading,
                                 "% Passing Math Schoolwise":percentage_passing_math,
                                 "% Passing Reading Schoolwise":percentage_passing_reading,
                                 "Student passing rate in each school":school_passing_rate})
Pla_df

/var/folders/p_/4x6ldz8x2516gqjyhww8x1km0000gn/T/ipykernel_1221/3993453998.py:2: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  Pla_df = pd.DataFrame({"Type of School":type_of_school,

ValueError: cannot reindex on an axis with duplicate labels

In [ ]:
# Summary_df = pd.Dataframe({'School Name':[total_schools],'School Type':[total_schools],'School Name':[total_schools],'School Name':[total_schools],'School Name':[total_schools],'School Name':[total_schools],'School Name':[total_schools],'School Name':[total_schools],})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type